/*------------------------------------*\
    #Heading
\*------------------------------------*/
.heading-cont {
  margin-top: 3rem;
  margin-bottom: 1rem;

  .sub-heading-top {
    color: #8f8f8f;
    font-weight: 400;
  }

  .heading {
    // font-size: 30px;
    font-weight: 700;
    color: #07706c;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    padding-bottom: 1rem;

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      right: 0;
      width: 100px;
      height: 5px;
      background: #07706d;
    }


    @media(max-width: 767px){
      font-size: 24px;
    }
  }

 // .badge {
 //    font-size: 40%;
 //    margin: 0 1rem;
 //    background: #dadbdc;
 //    color: $text-color-black;
 //  }
}

/********/

.heading-services
{
  position: relative;

  &:before
  {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    background: url(../images/cityBG.png) no-repeat;
    background-size: contain;
  }


  @media(max-width: 1023px){
    font-size: 24px;
    &::before {
      display: block;
      position: static;
  width: 100%;
  height: 100px;
  background-size: cover;
  background-position: bottom;
  margin-bottom: 15px;
    }
  }

  @media(max-width: 767px){
    font-size: 24px;
    &::before {
    height: 50px;
    }
  }

}


.heading .sub-heading {
    font-size: 18px;
    color: $text-color-black;

    @media (max-width: 767px){
      font-size: 20px;
      h2 {
        font-size: 100%;
      }

      h4 {
        font-size: 80%;
      }
    }
}



.section
{
  padding: 5rem 0 ;

  .heading {
      position: relative;
  }

  .heading:after {
      content: '';
      display: block;
      width: 40px;
      height: 6px;
      margin: 1.375em 0;
      background: $secondary;
      bottom: 0;
  }

  .heading-title {
      font-weight: 700;
      color: $text-color-black;
  }


  .heading-cont {
    &:before  {
      display: none;
    }
    .heading {
      &:after  {
        display: none;
      }
    }

  }

}
