.media-list {
  .media-item {
    display: flex;
    background: #fff;
    padding: 12px;


    & + .media-item {
      border-top: 1px solid #f0f2f6;
    }

    &.active {
      background: #f0f2f6;

      & + .media-item {
        border-top: 1px solid #ddd;
      }

    }
  }

  .day {
    font-size: 48px;
    font-weight: 700;
    display: block;
    color: #85bd48;
    line-height: 1;
    padding-left: 12px;
  }

  .month {
    font-size: 12px;
    font-weight: 700;
    color: #777;
    padding-left: 12px;
    display: block;
    text-align: center;
  }

  span.meta-item.date {
    text-align: center;
    display: block;
    min-width: 70px;
    margin-left: 15px;
    border-left: 1px solid #f0f2f6;
  }

  .media-content h3 {
    display: block;
    transition: none !important;

    &:not(.show) {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    font-size: 16px;
    display: inline-block;
    padding-left: 10px;
    color: #000;
    font-weight: 700;
    line-height: 1.7;

  }

  .media-content .more {
    display: inline-block;
    font-weight: 700;

    &[aria-expanded="false" ] {
      .show-less {
        display: none;
      }
    }

    &[aria-expanded="true" ] {
      .show-less {
        display: inline-block;
      }

      .show-more {
        display: none;
      }
    }
  }

  .media-content .more {
    .arrow-hover {
      transition: .5s all;

      svg {
        margin-right: 8px;
      }
    }

    &[aria-expanded="true"] {
      .arrow-hover svg {
        transform: rotate(-180deg);
        display: inline-block;
      }
    }
  }
}