.nav-tabs {
  .nav-link {
    color: $text-color-black;
  }
}

.nav-tabs {
  display: flex;
  border-bottom: 1px solid #e1e4e8;
  margin: 0;
  padding: 0;
}

.nav-tabs .nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  line-height: 1.2;
  border-radius: 0;
  font-weight: 700;
  @include fontSize(16px);
  position: relative;
  border: 0;
  background:none;
  padding: 1rem;

  &:before
  {
    content: "";
    position: absolute;;
    bottom: 0;
    left: 0;
    // right: 0;
    height: 3px;
    background: $primary;
    @include transition();
    opacity: 0;
    width: 0;
  }

}


.nav-tabs .nav-link {


  @include hover {
    opacity: 0.75;

    &:before
    {
      opacity: 1;
      right: 0;
      left: auto;
      width: 100%;
    }
  }



&.active
{
  @include hover {
    opacity: 0.75;
    border-top-color:  #3981e5;

  }

  &:before
  {
    opacity: 1;
    right: 0;
    left: auto;
    width: 100%;
  }
}

  @include transition();
}


// small than 768px
@mixin nav-md-media-breakpoint-down {
  .nav-tabs {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .nav-tabs .nav-link {
    font-size: 9px;
    flex-direction: column;
    color: #737373;
  }

  .nav-tabs .nav-link i {
    display: block;
    font-size: 12px;
    margin-bottom: 2px;
  }
}
