
.page-top-filter {
  .page-top-search-form {
    position: relative;

    @media (max-width: 767px) {
      width: 100%;
    }

    .form-control {
      background: #f4f5f7;
      height: 36px;


      &:focus {
        background: #fff;

      }
    }

    .label-search-icon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      margin-left: 10px;
    }

    .label-search-icon svg {
      width: 16px;
      fill: #707070;
    }

    .label-search-icon svg path {
    }

  }


  ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .btn {
      margin-left: 15px;


      &:hover {
        color: #212529;
        background-color: #e2e6ea;
        border-color: #dae0e5;
      }
    }

    @media (max-width: 767px) {

      .btn {
        margin-left: 8px;
        font-size: 14px;
        padding: 4px 12px;
      }

    }


  }


}
