.service-details-menu-cont {
  background: #f3f5f9;

  @media (min-width: 767px){
      border-left: 1px solid #DFE1E5;
  }
}



.service-details > .container {
  position: relative;
}

.service-details > .container:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  background: #f3f5f9;
  width: 100%;
}

.service-details-menu {
  padding: 1.5rem;
  background: #84bd47;
  color: #fff;


  @media (min-width: 767px){
    margin-top: -2rem;
    position: relative;
    z-index: 9;
    margin-left: -1px;
    position: sticky;
    top: 120px;
  }
}

.service-details-menu ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255,255,255,.2);
  padding-top: 1rem;
}

.service-details-menu a {
  display: block;
  color: #fff;
  position: relative;
  padding: 6px 12px 6px 12px;
  font-weight: 700;

  border-radius: 10rem;
  @include transition(.3s all);
}


.service-details-menu a.active {
    background: #fff;
    color: #83bd46;
    border-radius: 10rem;
    padding-right: 20px;

    &:before
    {
      top: 50%;
      transform: translateY(-50%);
    }

}

.service-details-menu a:before {
  content: "";
  position: absolute;
  top: 15px;
  right: -5px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 2px solid #fff;
  @include transition(.3s all);
}

.service-overview {
  border: 1px solid #e4e5e9;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.service-summary-cont {
  padding: 5rem 5rem 5rem 0 !important;

  @media (max-width: 767px){
    padding: 15px !important;
  }
}

.service-overview .item {
  width: 50%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;

  @media (max-width: 1023px){
    padding: 1rem ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.service-overview .item:first-child {
  border-bottom: 1px solid #e4e5e9;
  border-left: 1px solid #e4e5e9;
}

.service-overview .item:nth-child(2) {
  border-bottom: 1px solid #e4e5e9;
}

.service-overview .item:nth-child(3) {
  border-left: 1px solid #e4e5e9;
}

.service-overview .item h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #777;
}

.service-overview .item .item-icon {
      margin-bottom: .5rem;
    @media (min-width: 767px){
       margin-left: 1rem;
       margin-bottom:0;
    }
}

.service-overview-link {
  background: #07706c;
  color: #fff;
  border-radius: 10rem;
  padding: 2px 15px;
  display: inline-block;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.4;
  border: 1px solid #07706c;
  @include transition(0.3s all);

  &:hover {
    background: #fff;
    color: #07706c;
  }
}

.service-overview .item .item-icon svg {
  fill: #07706c;
}

.service-summary h2 {
  position: relative;
  font-weight: 700;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

.service-summary h2:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 6px;
  width: 40px;
  background: $secondary;

}

.service-summary + .service-summary {
  margin-top: 4rem;
  border-top: 1px dotted #DFE1E5;
  padding-top: 2rem;
}

.service-summary ul {
  margin: 0;
  padding: 0 1rem 0 0;
}

.content-list {
  position: relative;
}

.content-list li {
  position: relative;
  padding-top: 0.75rem;
}

.content-list li + li {
  /* padding-top: .75rem; */
}

.content-list li:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -15px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid $secondary;
}

.service-terms {
  border: 1px solid #e4e5e9;
  border-radius: 12px;
  margin-top: 3rem;
  padding: 2rem;
}

.service-terms h3 {
  border-bottom: 1px solid #e4e5e9;
  padding-bottom: 1rem;
}

.service-terms .btn-custom {
  color: #fff;
  border-color: #07706c;
  background: #07706c;
}

.service-terms p {
  display: flex;
  align-items: flex-start;
  padding-right: 2rem;
  position: relative;
}

.service-terms p input {
  position: absolute;
  top: -15px;
  right: 0;
}

.service-terms-content {
  padding-top: 1rem;
  ul{
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
    }
  }
}

.service-terms .btn-custom:hover {
  background: #fff;
  color: #07706c;
}
