// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@import url('../fonts/jn/jn.css');
// @import url('../fonts/ca/ca.css');
