/*------------------------------------*\
    #BACKGROUNDS
\*------------------------------------*/

.bg-secondary-01
{
      // background-image: linear-gradient(110deg,#e62f4a 0,#73136e 100%);
      background-image: linear-gradient(to right top, #07706d, #008570, #299a6a, #55ac5c, #85bd48);
}

.bg-secondary-02
{
      // background-image: linear-gradient(110deg,#e99019 0,#e62f4a 100%);
      background-image: linear-gradient(to right top, #07706d, #008873, #2ba06e, #5bb661, #8fca4e);
}

.bg-secondary-03
{
      // background-image: linear-gradient(110deg,#a55ccb 0,#0a46cf 100%);
      background-image: linear-gradient(to right top, #07706d, #067f6b, #298d61, #4e9952, #74a33f);
}



.bg-theme {
    background-color: $primary !important
}

.bg-grey {
    background-color: $bg-grey !important;
}

.bg-light-grey {
    background-color: $bg-light-grey !important;
}

.bg-white {
    background-color: #fff !important
}

.bg-dark {
    background-color: #222222 !important;
}

.bg-secondary {
    background-color: $bg-secondary;
}

/* Background Image */
.bg-parallax {
    background-attachment: fixed !important;
}

.bg-overlay {
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;

    &:before {
        content: "";
        display: inline-block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }
}

.bg-overlay-light {
    &:before {
        background-color: rgba(#fff, .8);
    }
}

.bg-overlay-dark {
    &:before {
        background-color: rgba(0,0,0, .2);
        background-image: linear-gradient(to bottom, rgba(27, 26, 26, 0.25) 0%, rgba(27, 26, 26, 0) 34%, rgba(27, 26, 26, 0) 82%);
    }
}

.bg-overlay-dark-2 {
    &:before {
        background-color: rgba(0,0,0, .6);
    }
}


.bg-overlay-theme {
    &:before {
        background-color: rgba(0,0,0, .9);
    }
}



.no-shadow {
  box-shadow: none;
}
