/*------------------------------------*\
    #BREADCRUMB
\*------------------------------------*/
/* Breadcrumb Style 1 */
.breadcrumb {
	background-color: transparent;
	margin-bottom: 0;
	padding: 0;
	border-radius: 0;
	color: #e5e4e4;
	font-size: 14px;
	line-height: normal;
	text-transform: capitalize;
	display: block;

	>li {
		display: inline-block;

		a {
			color: #e5e4e4;
		}

		&+li {
			&:before {
				color: #e5e4e4;
				padding: 0 5px;
				color: #ccc;
				content: "/\00a0";
			}

			&:empty:before {
				content: "";
			}

		}
	}
}
