// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
 .footer {
   background: #222222;
   color: #eee;
 }


 .form-newsletter {
     position: relative;
     z-index: 1;
 }


 .footer .form-newsletter input {
   background-color: #fff;
border: none;
color: #757575;
font-size: 12px;
font-weight: 400;
height: 50px;
line-height: 50px;
margin-bottom: 0;
padding: 0 30px 0 20px;
text-transform: capitalize;
border-radius: 3px 0px 0px 3px;
width: calc(100% - 40px);

     @include no-focus();
 }



             footer.footer h4 {
                 color: #fff;
                 font-size: 18px;
                 font-weight: 700;
                 margin-bottom: 35px;
             }

             .footer-logo img {
                 height: 40px;
                 margin-bottom: 20px;
             }

             .footer-about , .form-newsletter p {
                 font-size: 14px;
                 line-height: 1.4;
             }

             footer.footer a {
                 color: #eee;
                 display: inline-block;
                 margin-bottom: 5px;
                 font-size: 15px;
             }

             .footer .form-newsletter button {
                 position: absolute;
                 top: 0;
                 right: -1px;
                 background-color: $primary;
                 border: none;
                 width: 50px;
                 height: 50px;
                 line-height: 52px;
                 color: #ffffff;
                 font-size: 11px;
                 font-weight: 400;
                 cursor: pointer;
                 transition: 0.3s ease;
                 border-radius: 0 3px 3px 0;
                  @include no-focus();
             }


             footer.footer
              .footer-contact-info a {
                 color: #fff;
             }

              .contact-address {
                 margin-top: 30px;
             }


             .bot-footer {
                 padding-top: 20px;
                 padding-bottom: 15px;
             }

             .bot-footer .d-flex {

                 justify-content: space-between;
                 font-size: 14px;
             }

             .bot-footer .d-flex ul {
                 display: flex;
                 margin: 0;
             }

             .bot-footer .d-flex ul li a {
                 display: inline-block;
                 margin-right: 30px;
                 font-size: 14px;
             }








// new
footer.footer {
    background: $primary;
    padding: 2rem 0;
}

.top-footer {
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding-bottom: 2rem;
    @media ( min-width: 767px) {
      padding-bottom: 1rem;
    }
}

.direct-num {
    display: flex;
      align-items: center;
    @media ( min-width: 767px) {
      justify-content: flex-end;
    }

}

.direct-num h3 {
    font-weight: 700;
    color: #fff;
}

.footer .direct-num a {
    color: #fff;
    font-size: 3rem;
    margin-right: 1rem;
}

.footer-logo img {
    margin: 0;
    height: 80px;
}

.top-footer .row {
    align-items: center;
}

.mid-footer {
    padding: 2rem 0;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.mid-footer a {
    display: block;
}

footer.footer .mid-footer a {
    color: #eee;
    display: block;
    padding: 4px 0;
}

footer.footer .mid-footer h4 {
    margin-bottom: 1rem;
}

.bot-footer {
    padding-top: 2rem;
    padding-bottom: 0;
}

.bot-footer .container {
    padding: 0;
}


// footer inner
footer.footer.footer-inner {
    background: #fff;
    padding: 1.5rem 0;
    color: #333;
    font-size: 14px;

     a {
        margin: 0;
        color: #333;
        font-size: 14px;
    }

}

footer.footer.footer-inner .footer-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer.footer.footer-inner .footer-cont .side-one {
    display: flex;
    align-items: center;
}

footer.footer.footer-inner .footer-cont ul {
    display: flex;
    margin: 0;
    padding: 0;
}

footer.footer.footer-inner .footer-cont ul li + li {
    margin-right: 1rem;
}

footer.footer.footer-inner   .footer-logo {
    margin-left: 2rem;
}

footer.footer.footer-inner   .footer-logo img {
    height: 40px;
}





@media (max-width:767px) {

  footer.footer.footer-inner
  {
    padding: .5rem 0;

    a {
      font-size: 10px;
    }
  }
  .bot-footer .d-flex {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .bot-footer .d-flex ul {
      padding: 0;
  }

  .bot-footer .d-flex ul li a {
      margin-right: 0;
      margin: 0px 10px 10px 10px;
  }

  footer.footer.footer-inner .footer-cont
  {
    flex-direction: column;


 .side-one {
   flex-direction: column;

}
  .footer-logo {
    margin: 0;
    margin-bottom: .5rem;
}

.copyright {
    margin-bottom: .5rem;
    font-size: 10px;
    text-align: center;
    padding: 0 3rem;
}


  }



}
