/*------------------------------------*\
    #FORMS
\*------------------------------------*/
form {
    position: relative;
}

.form-control,
input,
select,
textarea {
    color: $text-color;
    font-size: 13px;
    font-weight: 400;
    height: 51px;
    line-height: 49px;
    // border: 1px solid #eaeaea;
    background: transparent;
    padding-left: 20px;
    position: relative;
    box-shadow: none;
    transition: all .3s ease-in-out;

    &:focus {
        background: transparent;
        border-color: $primary;
        box-shadow: none;
        outline: 0;
    }

    &::-webkit-input-placeholder {
        color: $text-color-grey-light;
        text-transform: capitalize;
    }

    &:-moz-placeholder {
        color: $text-color-grey-light;
        text-transform: capitalize;
    }

    &::-moz-placeholder {
        color: $text-color-grey-light;
        text-transform: capitalize;
    }

    &:-ms-input-placeholder {
        color: $text-color-grey-light;
        text-transform: capitalize;
    }

    &+.error {
        position: absolute;
        top: -23px;
        left: 20px;
        color: red;
    }

    &.error {
        border-color: red;
    }

}

textarea {
    height: auto;
}

.form-select {
    position: relative;

    i {
        position: absolute;
        font-size: 19px;
        font-weight: 400;
        line-height: 49px;
        right: 20px;
        top: 0;
        z-index: 1;
        pointer-events: none;
        cursor: pointer;
        color: $text-color;
    }

    select {
        line-height: 1;
        color: $text-color;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

}

/* Input Checkbox */

.input-checkbox {
    margin-bottom: 30px;
}

.label-checkbox {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    z-index: 2;

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
}

.check-indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 17px;
    width: 17px;
    background: transparent;
    border: 1px solid #e1e3e3;
    border-radius: 2px;
}

.label-checkbox input:checked~.check-indicator {
    background: #fff;
}

.check-indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.label-checkbox .check-indicator:after {
    left: 4px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid $primary;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.label-checkbox input:checked~.check-indicator:after {
    display: block;
}

.input-checkbox p {
    display: block;
    position: relative;
    font-size: 13px;
    padding-left: 30px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 0;
}



/*********/
.form-actions-cont {
    border: 1px solid #e4e5e9;
    border-radius: 12px;
    padding: 1rem;
    background: $bg-light-grey;
    display: flex;
    justify-content: flex-end;
    margin-top: 3rem;
    background: #fff;

    .btn {
        margin-right: .75rem;
    }

}


.form-control[readonly] {
    background: rgb(243, 246, 247);
}


// Responsive

@include maxMedia(map-get($breakpoints, medium)) {
.form-actions-cont {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1rem .5rem !important;
}
}
