.dashboard-container-side-nav {

  @media (min-width: 768px) {
    box-sizing: border-box;
    display: flex;
    min-height: 100%;
  }

  .side-wrapper {
    flex-grow: 1;
    transition: .5s all;
  }

  .navbar-nav {
    padding: 0;

  }

  .menu-navigation {
    background-color: $primary;
    width: $width-sidebar;
    position: relative;
    bottom: 0;
    z-index: 900;
    right: 0;

    @media (max-width: 320px) {
      width: 180px;
    }
  }

  .side-wrapper {
    flex-grow: 1;
    padding: 20px;
    @media (min-width: 1024px) {
      padding-right: 330px;
    }
  }

  .side-navigation {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    transition: .5s all;
    @media (max-width: 1023px) {
      right: -150%;
    }
  }

  .general-navigation {
    background: #07706d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navigation-logo img {
    width: 40px;
    height: 40px;
  }

  .navigation-logo {
    padding: 15px;
    display: block;
  }

  .general-navigation-bottom,
  .general-navigation-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .navbar-nav > li > a svg {
      fill: #fff;
    }

    .navbar-nav .nav-link {
      color: #fff;
    }
  }

  .nav-setting-user {
    padding: 0;
    margin: 0;
  }


  .header-profile .item-img {
    width: 100%;
    width: 36px;
    height: 36px;
    background: rgba(0, 0, 0, .1);
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    margin: auto;
  }


  .menu-navigation {
    background: #06706d;
    transition: .5s all;
  }

  .menu-navigation:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: rgba(0, 0, 0, .1);
    box-shadow: -2px -4px 10px 1px rgba(0, 0, 0, 0.14);
  }


}

.c-tooltip {
  position: relative;
}

.c-tooltip:before {
  content: attr(data-tooltip);
  position: absolute;
  right: 100%;
  background: #033836;
  white-space: nowrap;
  z-index: 999;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 4px;
  transition: 0.5s all;
  opacity: 0;

}


.general-navigation-bottom .nav-link,
.general-navigation-top .nav-link {
  padding: 10px 17px;
  text-align: center;
}

.general-navigation-top .nav-link:after,
.general-navigation-bottom .nav-link:after {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  margin: auto;
  right: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%) scale(0);
  background: rgba(255, 255, 255, .1);
  border-radius: 50%;
  z-index: 0;
  transition: 0.5s all;
  opacity: 0;
}

.dashboard-container-side-nav .general-navigation-bottom .c-tooltip:hover:before, .dashboard-container-side-nav .general-navigation-top .c-tooltip:hover:before {
  margin-right: -10px;
}


.general-navigation-top .nav-link:hover:after,
.general-navigation-bottom .nav-link:hover:after {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

.c-tooltip:hover:before {
  opacity: 1;
  z-index: 999;
}


.main-menu-open-close {
  transform: rotate(180deg);
  position: relative;

  @media (max-width: 1023px) {
    display: none;
  }

  &:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    margin: auto;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scale(0);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    z-index: 0;
    opacity: 0;
    margin-left: -4px;
    transition: .5s transform;
  }


  &:hover {
    &:after {
      transform: translateY(-50%) scale(1);
      opacity: 1;
    }
  }

}


// sidebar-hide
.sidebar-hide {
  .sidebar {
    width: auto;
    overflow: visible;
  }

  .dashboard-container-side-nav .menu-navigation {
    width: 20px;
    overflow: visible;
  }

  .sidebar-body {
    width: 0;
    overflow: hidden;
    transition-delay: 0;
    transition: none;
    opacity: 0;
  }

  .sidebar-header .logo-text {
    display: none;
  }


  .main-menu-open-close {
    transform: none;

    &:after {
      background: #85bd48;
      opacity: 1;
      transform: translateY(-50%) scale(1);
      z-index: -1;
      width: 28px;
      height: 28px;
    }
  }

  .sidebar-header a svg {
    width: 18px;
    transform: none;
  }

  .sidebar-header a {
    margin-right: -5px;
  }

  @media (min-width: 1024px) {
    .side-wrapper {
      padding-right: 110px;
    }
  }

}

/***********/
.dashboard-container-side-nav {
  .title-heading h1 {
    font-size: 1.725rem;
  }

  .page-top-filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    ul {
      padding: 0;
      margin: 0;
      @media (max-width: 767px) {
        margin-bottom: 15px;
      }
    }
  }

  .card-header {
    background: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    border: 0;
  }

  .cards-row > .card-header h3 {
    font-size: 1.25rem;
    margin: 0;
  }

  .page-top-filter {
    margin-bottom: 2rem;

    @media (max-width: 767px) {
      margin-bottom: 1rem;
    }
  }

  .service-row-list .card {
    box-shadow: 0px 0px 0px 1px rgba(72, 94, 144, 0.16);
  }

  .cards-row {
    margin-top: 3rem;
    @media (max-width: 767px) {
      margin-top: 1rem;
    }
  }

  .cards-row .dropdown-toggle {
    padding: 0;
  }

  .cards-row > .card-header {
    margin-bottom: 1rem;
  }
}

.table-custom {
  font-size: 14px;

  @media (max-width: 767px) {
    white-space: nowrap;
  }

  thead, tbody, tfoot {
    border-bottom: 2px solid #DFE1E6;
  }

  &.table thead th {
    border: 0;
    color: rgb(94, 108, 132);

  }

  .actions-dropdown .dropdown-toggle {
    padding: 0;
  }

  .actions-dropdown a {
    font-size: 13px;
  }

  td {
    padding-top: 8px;
    padding-bottom: 8px;
    // vertical-align: middle;
  }

  .td-content-has-icon {
    display: flex;

  }

  .td-content-has-icon .icon {
    padding-left: 5px;
  }

  .table-number {
    width: 150px;
  }

  .table-content {
    max-width: 500px;
  }

  .table-actions {
    text-align: center;
    min-width: 200px;
  }

  .table-actions-btns {
    display: flex;
    justify-content: center;

    .c-tooltip {
      &:before {
        font-weight: 400;
        right: 50%;
        bottom: 100%;
        top: auto;
        transform: translateX(50%);
        background: #000;
      }

      &:hover {
        &:before {
          margin-bottom: 4px;
        }
      }
    }


  }

  .table-actions-btns .btn {
    padding: 0px 10px;
    box-shadow: none;
    line-height: 1;
  }

  .table-actions-btns .btn svg {
    width: 18px;
  }

  .table-actions-btns .btn svg.icon-close {
    width: 13px;
  }


}


.table-status {
  font-size: 16px;

  span:not(.badge) {
    font-size: 14px;
  }
}


.side-menu-open {


  .side-navigation {
    right: 0;
  }

  header.site-header.inner-header-login {
    background: $bg-grey;

    .navbar-brand {
      opacity: 0;
    }

    .navbar-toggler svg {
      fill: #212121;
    }

    .navbar-toggler svg {
      opacity: 0;

      &.icon-close {
        opacity: 1;
        position: absolute;
      }
    }
  }
}