// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.vertical-ribbon {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 200;
  background-color: $primary;
  width: 20px;
}


.page-home-hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;


  .mask-clip {
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    // clip-path: polygon(0px 512px, 100% 512px, 100% 100%, 0px 100%);
    // filter: blur(20px);
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.page-home-hero.style-2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  background: url(../images/hero-img-2.png) no-repeat;
  background-size: cover;
  background-position: center;


  .mask-clip {
    height: auto;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    background: #fff;
    opacity: .05;
  }
}


.home-hero-text {
  padding-top: 35vh;
  color: #fff;
}

.home-hero-text h1 {
  font-size: 50px;
  font-weight: 700;
  color: #fff;

  @media (max-width: 767px) {
    font-size: 2rem;
  }
}


.page-bottom-nav {

  .nav-block {
    position: relative;
  }

  .mask {
    background-color: rgba(0, 0, 0, .3);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

}


.page-bottom-nav {
  position: relative;


}


.nav-block {
  padding: 30px;
  color: #fff;
}

.page-bottom-nav .mask {
  z-index: 0;
}

.nav-block > * {
  position: relative;
  z-index: 1;
}

.nav-block h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

.nav-block-inner-header {
  padding: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  position: relative;
}

.nav-block-inner-header h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  position: relative;
}

.nav-block-inner > * {
  position: relative;
}

.nav-block-inner {
  padding: 0;
  position: relative;
  z-index: 9;
  border-left: 1px solid rgba(255, 255, 255, .15);
}

.page-bottom-nav {
  border-top: 1px solid rgba(255, 255, 255, .15);
}

.nav-block.big {
  border-left: 1px solid rgba(255, 255, 255, .15);
}

.nav-block-inner-content {
  padding: 1rem;
  color: #fff;
}

.nav-block-inner-content p {
  margin-top: 1rem;
}


.page-bottom-nav .btn-link {
  justify-content: space-between;
  font-size: 18px;
  display: flex;
  box-shadow: none;

  .arrow-hover {
    transition: .5s all;
  }

  @include hover() {
    text-decoration: none;
    color: #fff;
    .arrow-hover {
      transform: scale(1.3);
    }
  }
}


// new style
.page-bottom-nav.style-2 {
  background: $primary;
}

.page-bottom-nav.style-2 .nav-block-inner {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.page-bottom-nav.style-2 .nav-block-inner-header {
  border: 0;
  display: flex;
}


.page-bottom-nav.style-2 {
  // background: #fff;
  border: 0;
}

.page-bottom-nav.style-2 .icon img {
  width: 50px;
  margin-left: 10px;
}

.page-bottom-nav.style-2 .nav-block-inner-header {
  align-items: center;
}

.page-bottom-nav.style-2 .nav-block-inner {
  position: relative;
}

.page-bottom-nav.style-2 .nav-block-inner:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 30px;
  background: #07706d;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.page-bottom-nav.style-2 .nav-block-inner.border-0:after {
  opacity: 0;
}

.nav-block-inner-header a {
  color: #fff;
}


@media (max-width: 767px) {
  .nav-block-inner-header {
    &:hover {
      h3 {
        opacity: 1;
        transform: none;
      }
    }

    h3 {
      position: absolute;
      bottom: 100%;
      background: #fff;
      border-radius: 4px;
      text-align: center;
      padding: .5rem;
      color: #000;
      left: 0;
      right: 0;
      margin: auto;
      margin-bottom: 5px;
      width: 96%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transform: translateY(100%);
      @include transition();
    }
  }

  .page-bottom-nav.style-2 .nav-block-inner-header {
    width: 100%;
    text-align: center;
    padding: .5rem;
    position: relative;
  }

  .page-bottom-nav.style-2 .nav-block-inner-header .icon {
    margin: auto;
  }

  .page-bottom-nav.style-2 .icon img {
    margin: 0;
    width: 40px;
  }

  .nav-block-inner-header a {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
  }

}
