.page-home-container {

  padding-top: 115px;
  padding-bottom: 0px;


  h1 {
    color: #3d4852;
    font-size: 2.25rem;
    text-align: center;
  }

  @media (max-width: 767px) {
    padding: 0;
    h1 {
      font-size: 1.25rem;
    }


  }

  .service-row-list .card-header {
    cursor: pointer;
  }

  .search-form {

    @media (max-width: 767px) {
      form.search-form {
        margin: 0 -15px;
      }
    }

    .input-wrap {
      display: block;
    }

    .search-input {
      font-size: 1rem;
      line-height: 1.135;
      letter-spacing: normal;
      font-weight: 700;
      font-style: normal;
      padding-bottom: 0;
      width: 100%;
      border: 1px solid rgb(6, 112, 109);
      background: #fff;
      transition: .35s ease-in-out;
      border-radius: 50px;
      padding: 6px 20px;


      &:focus {
        box-shadow: 0 0 0px 1px #06706d;
      }
    }

    p.small-p {
      margin-top: 10px;
      margin-bottom: 0;
      opacity: .7;
      font-size: 14px;
    }

    button.search-submit {
      display: inline-block;
      border-radius: 50px;
      background: #07706d;
      background-size: 15px 15px;
      border: 0 none !important;
      box-shadow: 0 0 0 transparent;
      outline: 0;
      float: left;
      position: absolute;
      top: 0px;
      left: -1px;
      transition: 0.3s all;
      color: #fff;
      padding: 13px 30px;
      height: 51px;

      svg {
        fill: #fff;
        margin-left: 8px;
      }

      @include transition(.3s all);

      @include hover() {
        background: #065f5d;
      }

      @media (max-width: 767px) {
        position: static;
        width: 100%;
        margin: 1rem 0 2rem;
      }

    }
  }


  .services-list-cont {
    .item {
      background: #fff;
      border-radius: 6px;
      border: 1px solid rgba(221, 221, 221, .6);
      position: relative;
      overflow: hidden;
      margin-bottom: 2rem;


      .item-top {
        padding: 1rem;
      }

      .item-bottom {
        a {
          padding: 1rem;
          border-top: 4px solid #6471d3;
          background: #f8fafc;
          font-weight: 700;
          display: block;

          .arrow-hover {
            margin-right: 6px;
          }
        }
      }

      h3 {
        display: flex;
        align-items: center;
        font-size: 1.25rem;

        .icon {
          width: 32px;
          height: 32px;
          background: #000;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 8px;

          svg {
            width: 20px;
            fill: #fff;
          }

        }

        a {
          color: #212121;
        }
      }


      .description {
        font-size: 14px;
        margin-bottom: 3rem;
        color: #3d4852;
        margin-top: 1rem;
      }

      .details-rate-cont {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .rate-cont {
        .rate-item {
          min-width: 20px;
        }
      }


      .details-rate-cont a {
        font-weight: 700;
        font-size: 14px;
      }

      .rate-group {
        pointer-events: none;
        display: flex;
        align-items: center;
        margin: 0;

        span {
          font-size: .75rem;
          color: #8795a1;
          line-height: po;
          position: relative;
          top: 1px;
        }

        .rate-title {
          font-weight: 700;
          font-size: 14px;
          color: #212121;
          padding-left: 6px;
        }

        .rate-cont {
          margin: 0;
          padding-left: 4px;
        }

        .rate-item {
          line-height: 1;
        }
      }


      .details-rate-cont a {
        font-weight: 700;
        font-size: 14px;
        color: #212121;
      }


      .item-bottom .arrow-hover {
        transform: rotate(90deg);
        display: inline-block;
      }


    }
  }

  // colors
  $box-colors: ("box-color-1", "rgb(210, 200, 35)"), ("box-color-2", "rgb(167, 43, 157)"), ("box-color-3 ", "rgb(195, 73, 73)"), ("box-color-4", "rgb(86, 173, 52)"), ("box-color-5", "rgb(228, 147, 52)"), ("box-color-6", "rgb(65, 172, 156)");

  @each $box-colors-item, $box-colors-code in $box-colors {
    .item.#{$box-colors-item} {
      h3 {
        .icon {
          background: #{$box-colors-code};
        }
      }

      .item-bottom {
        a {
          border-top-color: #{$box-colors-code};
        }
      }
    }
  }


  .box-color-1 {
    &.item {
      h3 {
        .icon {
          background: rgb(210, 200, 35);
        }
      }

      .item-bottom {
        a {
          border-top-color: rgb(210, 200, 35);
        }
      }
    }


  }

  .page-home-hero {
    h1 {
      color: #000;
    }

    .search-form {
      .search-input {
        height: 70px;
      }

      .search-submit {
        padding: 13px 50px;
        height: 70px;
      }
    }
  }

  .page-home-hero.style-2 {
    background: url(../images/bg1.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 115px);
    overflow: hidden;
    position: relative;

    @media (max-width: 767px) {
      height: auto;
    }
  }


  .services-row .card {
    transition: .15s background;

    .item-icon img {
      width: 100%;
    }

    .item-icon {
      width: 60px;
      height: 60px;
      background: #06706d;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 8px;
      transition: .5s all;
    }

    .item-content {
      h3 {
        margin: 0;
        font-size: 17px;
      }
    }

    &:hover {
      background: #06706d;
      color: #fff;
      box-shadow: none;
    }
  }

  .page-bottom-nav.style-2 {
    background: none;
    padding-bottom: 2rem;
    @media (max-width: 767px) {
      padding-bottom: 7px;
    }


  }

  .services-row .card:hover .item-icon {
    transform: scale(1.05);
  }
}

.page-home {

  .site-header {
    border: 0 !important;
  }


}


.section-circulars {
  .carousel {
    display: flex;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    position: relative;
    border: 1px solid #f0f2f6;

    @media (max-width: 767px) {
      margin-top: 2rem;
    }

    .carousel-inner {
      height: 100%;

      .carousel-item > div {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
        right: 0;
        left: 0;
        padding: 0;

        @media (max-width: 767px) {
          position: static;
        }

        a {
          display: block;

          img {
            width: 100%;
          }
        }
      }

      .carousel-item {
        height: 100%;
      }

      .carousel-caption p {
        font-size: 18px;
        color: #fff;
        text-align: right;
      }

      .slider-icon {
        opacity: 0.3;
        width: 120px;
      }
    }

    .carousel-control-prev, .carousel-control-next {
      z-index: 999;
    }

    .carousel-control-prev, .carousel-control-next {
      height: 36px;
      width: 36px;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid #ddd;
      border-radius: 50%;
      text-align: center;


    }


    .carousel-control-prev {
      left: 15px;

      .icon {
        display: block;
        transform: rotate(90deg);
      }
    }

    .carousel-control-next {
      right: 15px;

      .icon {
        display: block;
        transform: rotate(-90deg);
      }
    }

  }


}


// section-facts
.section-facts-subtitle img {
  height: 80px;
}

.section-facts .ask-pharmacist {
  &:hover {
    border-color: $bg-secondary !important;
  }
}

.section-facts .side-one, .section-facts .side-two {
  display: flex;
  padding: 100px 0 50px 0;


  .section-facts .side-one {
    border-left: 1px solid rgba(0, 0, 0, .05);
    padding-left: 80px;
    @media (max-width: 767px) {
      padding-left: 15px;
      text-align: center;
      padding-right: 15px;
      display: block;
    }
  }

  .section-facts .side-two {
    padding-right: 80px;

    .facts-cont-box {
      margin-right: -15px;
    }
  }

  .facts-cont-box {
    .item {
      display: flex;
      margin-bottom: 30px;

      @media (max-width: 767px) {
        justify-content: center;

        & + .item {
          margin-top: 2rem;
        }
      }
    }
  }

  .item-icon img {
    height: 60px;
  }

  .item-icon {
    margin-left: 20px;
  }

  .facts-cont-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  .item-content h2 {
    color: $secondary;
    @include fontSize(36px);
    font-weight: 300;
    line-height: 1;
  }

  .item-content h4 {
    font-size: 16px;
    margin: 10px 0 4px 0px;
  }

  .item-content p {
    @include fontSize(14px);
    font-weight: 400;
    color: $text-color-grey-light;
    text-transform: capitalize;
  }
}


.section-facts .side-one {
  border-left: 1px solid rgba(0, 0, 0, .05);
  padding-right: 80px;
  @media (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
    text-align: center;
    display: block !important;
  }
}

.section-facts .side-two {
  padding-right: 80px;
  @media (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    text-align: center;
    display: block !important;
  }
}

section.section.section-facts {
  background: none;
}

.section-facts .side-one .heading {
  position: sticky;
  top: 160px;
}

.section-facts .side-one {
  align-items: flex-start !important;

  .item-content {
    text-align: right;
  }

  .facts-cont-box {
    justify-content: center;
  }


}

// section-facts

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 105%;
  height: auto;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.video-bg {
  background: none !important;
}


.page-home-hero.style-2.video-bg {
  .mask-clip {
    background: #06706d;
    opacity: .2;
  }

  h1 {
    color: #fff;
  }
}

@media (min-width: 1024px) {
  body.page-home.js-focus-visible.loaded.menu-dropdown-open img.logo.light {
    display: none;
  }

  body.page-home.js-focus-visible.loaded.menu-dropdown-open img.logo.dark {
    display: block;
  }
}


.section-circulars {

  .media-list {
    height: 380px;
    overflow: auto;
    margin-left: -15px;
  }

  .carousel-indicators li {
    background-color: #333;
  }

  .carousel-indicators {
    margin-bottom: 0;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c7c6c6;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


}

.page-home-video {
  .site-header-cont {
    background: none !important;
  }

  .page-home-container {
    padding-top: 0;
  }

  .page-home-container .page-home-hero.style-2 {
    height: 100vh;
    padding-top: 150px;
  }
}