.dashboard-cards {
      padding-top: 65px;


      .cards-row > .card-header  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: none;
    padding-left: 0;
    padding-right: 0;

    h3 {
        margin: 0;
    }

ul {
        display: flex;
        justify-content: flex-end;
        padding: 0;
    }

   li {
        margin-right: 8px;
    }


}
}



.sidebae-menu {
    margin-right: -15px;
    display: flex;
    background: #fff;
}

.sidebae-menu {
    width: 100%;
    padding-top: 1rem;
}

.sidebae-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    padding: 0 15px;
}


.sidebae-menu ul a h3 {
    font-size: 18px;
}

.sidebae-menu ul .menu-link {
    padding: 5px 16px;
    display: flex;
    justify-content: space-between;
}

 
