.custom-accordion
{
  .collapse
  {
    background: #fcfcfc;
    padding: 2rem ;
    border-radius: 8px;
    border: 1px solid #d7d7d7;

    @media (max-width: 767px){
      padding: 1rem;
    }
  }
}
