/*------------------------------------*\
    #PAGE-TTILE
\*------------------------------------*/


.page-title.page-title-about
{
  background: url(../images/ab-2.png) no-repeat;
  background-size: cover;
  background-position: bottom center;
}


.page-title {
    padding-top:  220px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: $primary;

 &.service-header {
    padding-top: 118px;

    @media (max-width: 1023px){
      padding-top: 104px;
    }

   .item-rate {
    margin-bottom: 1.5rem;
}

 }

    .rating {
        background: none;
        color: #fff;
        text-align: right;
    }

    .rating-title, span.ratings-count {
        color: #fff;
    }

    .item-rate {
        margin: 0rem 0 1.5rem 0;
    }


 &.service-header .container
 {
  position: relative;
   &:before
   {
     content: '';
     display: block;
     position: absolute;
     top: 0;
     left: 100%;
     width: 100%;
     height: 100%;
     z-index: -1;
     background: #07706c;
     margin-left:  -10px;
   }

   &:after
   {

     @media (min-width: 768px) {
       content: '';
       display: block;
       position: absolute;
       top: 0;
       right: 100%;
       width: 100%;
       height: 100%;
       z-index: 0;
       background:#0f1b2d;
       margin-right: -20px;

     }
   }



 }


    .page-title-content {
        position: relative;
        // background: no-repeat $primary;
        background-size: cover;
        color: #fff;
        z-index: 9;
        padding: 5rem 0;
        width: 100%;
    }


.service-description {
   padding: 5rem 3em 5rem 0;
   background: #0f1b2d;
   color: #fff;
   width: 100%;
   position: relative;
    z-index: 9;

    @media (max-width: 767px){
      margin: 0 -15px !important;
width: calc(100% + 30px);
padding: 1rem;

    }
}

.service-description h3 {
   font-weight: 700;
   margin-bottom: 1.5rem;
}

.service-description .btn {
   margin-top: 1.25rem;
}

}


.title-heading {
    padding: 1rem 0 1rem 0;
}

.title-heading h1 {
    @include fontSize(36px);
    font-weight: 700;
}

.title-heading h1.big {
    font-size: 60px;
}



.page-title {

    .title {

        .title-heading {

            h1 {

                font-size:30px;
                font-weight: 700;
                margin-bottom: 0;

                &.big
                {
                  font-size: 90px;
                  line-height: 1.2;

                  &+ p {
                        font-size: 36px;
                  }
                }
            }




        }

        .title-desc {
            max-width: 550px;

            p {
                color: #f9f9f9;
                font-size: 16px;
                margin-bottom: 0;
                font-weight: 300;
            }
        }
    }

    .breadcrumb {
        font-size: 16px;
        background-image: transparent;
        color: #fff;

        a {
            color: #fff;
            text-decoration: none;
            transition: .3s ease;


        }

        .active {
            color: #fff;
        }
    }
}
.page-title.text-dark {

    .title {

            h1 {
                color: #051033;
             }
        }

        .title-desc {

            p {
                color: #051033;

            }
        }


    .breadcrumb {

        color: #051033;

        a {
            color: #051033;
             &:hover {
                color: $primary;
            }
        }

        .active {
            color: #051033;
        }
    }
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: 0;
}

.page-title .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    padding: 0 9px;
}


.title-heading h1 small {
    font-size: 20px;
    color: #777;
    border-right: 2px solid rgba(0,0,0,.1);
    margin-right: 1rem;
    padding-right: 1rem;
}

.title-heading h1 {
    display: flex;
    align-items: center;
}

.page-title-content .item-rate {
    margin: 0;

    @media (max-width: 767px){
      .rating {
    // background: #f3f6f7;
    border-radius: 10rem;
    margin: 0 !important;

    span.ratings-count
    {
      display: inline-block;
          width: auto;
    }
}
    }
}





/* Title #1 */
.page-title {
    .title-1 {
        padding-bottom: 110px;

        .breadcrumb {
            position: absolute;
            bottom: 30px;
            right: 0;
            left: 0;
        }
    }
}

/* Title #2 */
.page-title {
    .title-2 {
        padding-bottom: 130px;

        .title-heading {
            margin-bottom: 5px;
        }
    }
}

/* Title #3 */
.page-title {
    .title-3 {
        padding-bottom: 120px;

        .title-heading {
            margin-bottom: 5px;
        }

        .breadcrumb {
            position: absolute;
            bottom: 50px;
            right: 0;
            left: 0;
        }
    }

}

/* Title #4 */
.page-title {
    .title-4 {
        padding-bottom: 190px;

        .title-heading {
            margin-bottom: 35px;
        }

        .breadcrumb {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 991px) {

    .page-title {
        .title {


            .title-heading {

                h1 {
                    font-size: 40px;
                    font-weight: 800;
                    line-height: 50px;
                }
            }

            .title-desc {
                p {
                    font-size: 14px;
                }
            }
        }

        .breadcrumb {
            font-size: 12px;
        }
    }

    .page-title .title .title-heading h1.big
    {
      font-size: 50px;
    }
}

@media only screen and (min-width : 992px) and (max-width :1200px) {

    .page-title {
        .title {
            .title-heading {

                h1 {
                    font-size: 45px;
                    font-weight: 800;
                    line-height: 60px;
                }
            }
        }

    }

}




/*************/
.loged-user {



}

.page-inner-title
{
    padding-top: 120px;

    .breadcrumb > li a , .breadcrumb > li
    {
      color: $text-color-black;
    }


    .page-title-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.page-title-content nav {
    width: 100%;
}

.page-title-content .rating {
    padding: 1px 20px;
    margin-right: 1rem;
}



}


// .sub-heading
// {
//   display: flex;
// padding-bottom: 8px;
// margin-bottom: 16px;
// border-bottom: 1px solid #e1e4e8;
// flex-flow: row wrap;
//
// h2
// {
//   font-size: 24px;
// font-weight: 400;
// flex: 1 1 auto;
// }
// }
