
.page-top-fixed {
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    // box-shadow: 0px -2px 15px -5px rgba(0, 0, 0, 0.3);
    z-index: 998;
    margin-top: 0;
    position: relative;
    // top: 66px;
    // padding-top: 66px;
    @include transition();
    padding: 81px 0 0;


@media(max-width: 767px) {
  padding:8px 0 0;


}



    .page-options-btns .btn:hover {
        background-color: #f5f6f7;
        border-color: rgba(87, 90, 93, 0.27);
        color: #18191a;
        box-shadow: none;
        z-index: 9;
    }

    .page-options-btns .btn {
        box-shadow: none;
        border: 1px solid #ebecf0;
        padding: 6px 15px;
        position: relative;
    }




    .page-options-btns .btn:not(:first-child) , .page-options-btns .btn:not(:last-child) {
        border-radius: 0;
    }

    .page-options-btns {
        display: flex;
    }

    .page-options-btns .btn + .btn {
        margin-right: -1px;
    }

    .page-options-btns .btn:first-child {


      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;

    }

    .page-options-btns .btn:last-child {


  border-top-left-radius: 0.25rem;
border-bottom-left-radius: 0.25rem;
    }

    .icon-rotate-left {
        display: inline-block;
        transform: rotate(-180deg);
    }


    .page-options-btns .btn svg {
            margin: 0 5px;
        }


.page-options-btns
{
  .btn-form-prev
  {
    &:hover {
      background: $bg-grey;
      border-color: $bg-grey;
    }
  }

  .btn-form-draft
  {
    &:hover
    {
      background: #17a2b8;
      color: #fff;
      border-color: #17a2b8;
      svg {
        fill:#fff;
      }
    }
  }
  .btn-form-next
  {
    &:hover
    {
      background: $primary;
      color: #fff;
      border-color: $primary;

      svg {
        fill:#fff;
      }
    }
  }


  [disabled]
  {
    cursor: not-allowed;
  }
}


}

.page-top-fixed nav a {
    color: #000;
    font-weight: 700;
}

.page-top-fixed nav
 li {
    color: #444;
    font-weight: 700;
}

.page-top-fixed  .page-title-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.page-top-fixed  nav {
    width: 100%;
}

.page-top-fixed .title-heading h1 {
    font-size: 24px;
    margin: 0;
}

.page-top-fixed .title-heading {
    padding-top: 0;
    padding-bottom: 0;
}

.page-top-fixed
 .rating {
    padding: 3px 20px;
}


.page-options-btns .btn-group {
    border: 1px solid #ebecf0;
    border-radius: 6px;
    overflow: hidden;
}

.page-options-btns .btn-group .btn {
    border-radius: 0;
}

.page-options-btns .btn-group .btn-light {
    background: rgb(236, 239, 243);
    border: 0;
}


.page-top-fixed nav a {
    font-size: 16px;

    @media (max-width: 767px){
      font-size: 14px;
    }
}

.page-top-fixed.nav-fixed {
    box-shadow: 0px -2px 15px -5px rgba(0, 0, 0, 0.3);
}

.page-top-fixed.nav-fixed + section.page-container {
    padding-top: 5rem;
}


// fixed
.page-top-fixed.nav-fixed .page-btns-top-fixed {
    padding-bottom: 1rem !important;
}

.page-top-fixed.nav-fixed .form-steps-cont-new {
    display: none;
}

.page-top-fixed.nav-fixed {
    position: sticky;
}


// Responsive
@media (max-width:767px) {
  .page-btns-top-fixed {
      padding: 0 0 15px 0 !important;
  }


  .page-top-fixed.nav-fixed + section.page-container {
      margin-top: 0;
  }
  .page-top-fixed .page-options-btns
  {
    margin-top: .5rem;
  }



    .page-options-btns .btn {
    padding: 6px 15px;
    position: relative;
        font-size: 12px;
        flex-grow: 1;
        flex-shrink: 1;
  }

  .page-options-btns  {
  flex: 1;
  width: 100%;
  }

  .page-options-btns .btn svg {
        width: 12px;
        margin: 0;
  }

}
