.user-img {
    background: #fff;
    padding: 10px;
    border-radius: 12px 12px 0px 0px;
    border: 1px solid #e1e4e8;
    border-bottom: 0;
}

.user-type {
    background: #fff;
    border-radius: 0 0 12px 12px;
    border: 1px solid #e1e4e8;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    color: $text-color-black;
}


.user-username {
    font-size: 24px;
    padding: 10px;
}


.profile-list {
    margin: 0;
    padding: 0;
}

.profile-list li {
    padding: 1rem 0;
}

.profile-list li + li {
    border-top: 1px solid #e1e4e8;
}



.profile-list li .title {
    color: #06706d;
    font-weight: 700;
}
