.form-steps-cont
{
.step-anchor {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: relative;
    margin-bottom: 3rem;
}

.step-anchor li a:before {
    content: ' ';
    position: absolute;
    margin-top: 10px;
    display: block;
    border-radius: 50%;
    color: #428bca;
    border: none;
    text-decoration: none;
    z-index: 8;
    left: 50%;
    transform: translateX(-50%);
    background: #f3f3f3;
    bottom: -2px;
    width: 24px;
    height: 24px;
}

.step-anchor li a {
    position: relative;
    padding-bottom: 2rem;
    color: #777;
    text-align: center;
    height: 100%;
    line-height: 1.2;

  .num {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: auto;
    margin-bottom: .5rem;
    line-height: 28px;
}





}

.step-anchor li a:after
{
        content: ' ';
        position: absolute;
        left: 50%;
        bottom: 2px;
        margin-top: 10px;
        display: block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        z-index: 9;
        background: $primary;
        transform: translateX(-50%);
}

.step-anchor:before {
    background: #f3f3f3;
    height: 1px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    content: "";
    position: absolute;
    margin-top: -10px;
}

.step-anchor li.active a {
    color: $primary;
    font-weight: 700;
    .num
    {
      background: $primary;
      color: #fff;
    }
    small
    {
      font-weight: 700;
    }

    .num
    {
      border: 2px solid $primary;
    }
}

.step-anchor li {
    flex: 1;
}
}

/**************/

.form-steps-cont-new
{
.step-anchor {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: relative;
}

li + li {
    margin-right: .35rem;
}


.step-anchor li a {
    position: relative;
    padding:0rem;
    color: #777;
    text-align: center;
    height: 100%;
    line-height: 1.2;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    padding: 5px 15px;
    text-align: center;
    justify-content: center;
    color: #000;

  .num {
    font-size: 90%;
    margin-left: 5px;
    &:after {
      content: ".";
    }
    small
    {
      font-weight: 100;
    }
}
}
.step-anchor li.active a {
    color: $primary;
    font-weight: 700;
    border-color: #07706d;

    small
    {
      font-weight: 700;

    }

}

// new


}



// new
.page-btns-top-fixed {
   padding-bottom: 15px !important;
}
// .form-steps-cont-new .step-anchor li a:before {
//     content: "";
//     position: absolute;
//     top: -2px;
//     right: 0;
//     height: 3px;
//     width: 96%;
//     /* background: #06706d; */
//     z-index: 99;
//     border-radius: 10px;
//     margin: auto;
//     left: 0;
// }

.form-steps-cont-new .step-anchor li.active a {
    border-color: #ebebeb;
    border-bottom-color: transparent;
    position: relative;
    top: 1px;
    background: $bg-grey;
}

.form-steps-cont-new .step-anchor li a {
    padding: 10px 15px;
    color: #666;
    small
    {
      font-weight: 700;

    }
}

// .form-steps-cont-new .step-anchor li.active a:before {
//     background: #06706d;
// }

.form-steps-cont-new .step-anchor li a {
    border-radius: 5px 5px 0 0;
    font-size: 18px;
}



// fixed
.page-top-fixed.nav-fixed {
    // position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

// .page-top-fixed.nav-fixed + section.page-container {
//     padding-top: 110px;
// }
//
.page-top-fixed.nav-fixed .form-steps-cont-new {
    display: none;
}



// Responsive
// medium screen size (md) 'medium': 768px
@media (max-width:1023px) {
  .form-steps-cont-new{
    .step-anchor {
      flex-wrap: wrap;

    }
  }
  .form-steps-cont-new li {
      margin: 0;
      padding: 3px 3px;
  }

  .form-steps-cont-new .step-anchor li a {
      border: 0;
      border-radius: .25rem;
  }

  .form-steps-cont-new li+li {
      margin: 0;
  }

// show only current , prev, next
.form-steps-cont-new
{
  .step-anchor
  {
    flex: 1;
    margin: 0 -3px;
    .nav-item
    {
      flex: 1;
      padding-top: 0;
      padding-bottom: 0;
      display: none;
      &.current , &.next , &.prev{
            display: inline-block;
      }

      &.prev{
          a {
            color: $text-color-grey-light;
          }
      }

      &.active
      {
        a {
            border-radius: 5px 5px 0 0 !important;
            align-items: center;
        }
      }

      a {
         padding: 8px 5px;
         small {
            text-align: right;
            line-height: 1.5;
            font-size: 12px;
            @media (max-width: 320px){
              font-size: 10px;
            }
        }
        .num {
            font-size: 12px;
            padding-top: 2px;
            padding-right: 5px;
        }
      }
    }
  }
}

}
