// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// @import "../bootstrap/custom";
// override Bootstrap
 $primary   :     #07706d;
 $secondary :     #85bd48 ;
 // $success:       $green !default;
 // $info:          $cyan !default;
 // $warning:       $yellow !default;
 // $danger:        $red !default;
 // $light:         $gray-100 !default;
 // $dark:          $gray-800 !default;

 /// Copy text color
 $text-color:  #3c3c3b !default;
 $text-color-brand: $primary;
 $text-color-grey:    #4e4e4e !default;
 $text-color-grey-light:    #777 !default;
 $text-color-black:   #000 !default;

 // background colors
$bg-brand: #3b8854 ;
$bg-color-01: #001837 ;
$bg-secondary: #81be40 ;
$bg-grey: #eceff3;
$bg-light-grey: #f3f6f7;


$input-focus-border-color : $primary;
$input-focus-color : $primary ;
$input-focus-bg : $primary ;
$input-focus-border-color : $primary ;

$input-border-color :#d7d7d7;

$input-focus-color:                     $input-color !default;

$text-font-stack:  'jn';
$text-font-secondary:  'jn';

 @if $direction == ltr {
     $text-font-stack:  'proxima', 'Arial', sans-serif ;
 } @else {
     $text-font-stack:  'jn', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
 }

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


/// Relative or absolute URL where all assets are served from
$base-url: '/assets/' !default;


// navs
$nav-tabs-link-active-color : $primary;
$nav-tabs-link-active-border-color : $bg-brand;

// Height
$height-base:                     38px;
$height-header:                   60px;
$height-header-mobile:            55px;
$height-footer:                   46px;


// Inverse Colors
$color-inverse-01:                #001737;
$color-inverse-02:                #1b2e4b;;

// Text Colors
$color-text-01:                   $color-inverse-01;
$color-text-02:                   $color-inverse-02;
$color-text-03:                   #8392a5;
$color-text-04:                   #c0ccda;

/// Breakpoints map
$breakpoints: (
  'small': 320px,
  'medium': 767px,
  'large': 1023px,
  'xlarge': 1199px,
  'xxlarge': 1599px,
  'xxxlarge': 1919px,
) !default;


// Width
$width-sidebar:                   240px;

// Brand Colors
$color-brand-01:                  #284f5d;
$color-brand-02:                  #6d8691;
$color-brand-03:                  #f9a51d;



// UI Colors
$color-ui-01:                     #f5f6fa;
$color-ui-02:                     #e5e9f2;
$color-ui-03:                     #c0ccda;
$color-ui-04:                     #8392a5;
